*.py[co]
.DS_Store
.sass-cache
.mypy_cache

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#IDE
.idea

#LiClips
.project
.pydevproject
example/Pipfile.lock
example/poetry.lock
.python-version
*.sublime-project
*.sublime-workspace